/*	STILI	*/



body
{

	margin: 0px;
        margin-top: 15px;
        margin-bottom: 15px;

	background-image: url('../Immagini/back.png');

	font: 15px Trebuchet MS;
}



#page
{
	width: 1000px;
	padding: 8px;

	margin: auto;

	background-color: #101D30;

	border-radius: 12px;
	border-top: 4px groove #FFFFFF;
	border-left: 4px groove #FFFFFF;
	border-right: 4px ridge #FFFFFF;
	border-bottom: 4px ridge #FFFFFF;

	box-shadow: 8px 8px 20px black;
}



#logo
{
	height: 150px;

	background-color: #101D30;
	background-image: url('../Immagini/A4R.png');
	background-repeat: no-repeat;
	background-position: 180px 5px;

	border-radius: 5px 5px 0px 0px;
}

div#logo img
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
}

div#logo area
{
	outline : none;
}



div#header p
{
	margin-top: -35px;
	margin-left: 200px;
	margin-bottom: 0px;

	color: #BBBBBB;
	text-shadow: 2px 2px 6px black;
}

div#header a:link, div#header a:visited
{
	color: #BBBBBB;
	text-decoration: none;
}

div#header a:hover
{
	color: #FFFFFF;
}



#benvenuto
{
	margin-top: -145px;
	margin-right: 15px;;

	color: #BBBBBB;
	text-shadow: 2px 2px 4px black;
	text-align: right;
}



#login
{
	padding-top: 10px;
	padding-left: 18px;

	background-image: url('../Immagini/login.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}



#menu
{
	background-color: #101D30;

	text-align: right;
}

div#menu a:link, div#menu a:visited
{
	color: #BBBBBB;
	text-decoration: none;
}

div#menu a:hover
{
	color: #FFFFFF;
}

div#menu ul
{
	margin: 0px;

	padding: 0px 0px;

    	border-bottom: 10px solid #B50F23;
}


div#menu .current_page
{
	background-color: #B50F23;
}

div#menu li
{
	width: 125px;

	margin: 0px 0px;

	padding: 5px;

	background-color: #7F0B19;

	border-radius: 20px 20px 0px 0px;

	display: inline-block;

	text-shadow: 1px 1px 3px #000000;

	text-align: center;
}



#home
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/home.png');
	background-repeat: no-repeat;
	background-position: left center;
}



#chi_siamo
{
	margin-left: -10px;
	padding-left: 20px;

	background-image: url('../Immagini/chi_siamo.png');
	background-repeat: no-repeat;
	background-position: left center;
}



#istruzioni
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/istruzioni.png');
	background-repeat: no-repeat;
	background-position: left center;
}



#ricerca
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/ricerca.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#utenti
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/account.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#gestisci
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/setting.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#carrello
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/compra.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#vendi
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/offri.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#rimuovi
{
	margin-left: -10px;

	padding-left: 20px;

	background-image: url('../Immagini/rimuovi.png');
	background-repeat: no-repeat;
	background-position: left center;
}



#content
{
	background-image: url('../Immagini/back_c.png');

	border-left: 5px solid #B50F23;
	border-right: 5px solid #B50F23;
	border-bottom: 5px solid #B50F23;
	border-radius: 0px 0px 5px 5px;

}

div#content a:link, div#content a:visited
{
	color: #B50F23;
	text-decoration: none;
}

div#content a:hover
{
	color: #7F0B19;
}

#table-content
{
	width: 100%;
	min-height: 500px;

	table-layout: fixed;
	border-collapse: collapse;
}

div#content h1
{
	margin-left: 15px;
	margin-bottom: 50px;
	padding-left: 30px;


	background-position: left center;

	color: #101D30;
	text-shadow: 1px 1px 3px black;
}

div#content p, div#content ol, div#content ul
{
	color: #444444;
}

div#content ol
{
	padding-top: 5px;
	padding-left: 80px;
	padding-bottom: 20px;

	list-style-type: upper-alpha;
}

div#content ul
{
	list-style-type: square;
}

div#content li
{
    padding-top: 5px;
	padding-bottom: 5px;
}

div#content iframe
{
    width: 475px;
    height: 350px;
}

#left
{
	width: 150px;

	padding: 0px;

	background-image: url('../Immagini/sidebar.png');
	background-repeat: repeat-y;

	opacity: 0.1;
}

#center
{
	padding-top: 60px;
	padding-left: 100px;
	padding-bottom: 40px;

	border-left: 3px double #B50F23;
	border-right: 3px double #B50F23;

	vertical-align: top;
}

#right
{
	width: 150px;

	padding: 0px;

	background-image: url('../Immagini/sidebar.png');
	background-repeat: repeat-y;

	opacity: 0.1;
}



#h1-home
{
	background-image: url('../Immagini/negozio.png');
	background-repeat: no-repeat;
}

#h1-chi_siamo
{
	background-image: url('../Immagini/noi.png');
	background-repeat: no-repeat;
}

#h1-istruzioni
{
	background-image: url('../Immagini/book.png');
	background-repeat: no-repeat;
}

#h1-cerca
{
	background-image: url('../Immagini/cerca.png');
	background-repeat: no-repeat;
}

#h1-login
{
	background-image: url('../Immagini/key.png');
	background-repeat: no-repeat;
}

#h1-utenti
{
	background-image: url('../Immagini/profilo.png');
	background-repeat: no-repeat;
}

#h1-gestisci
{
	background-image: url('../Immagini/gestisci.png');
	background-repeat: no-repeat;
}

#h1-carrello
{
	background-image: url('../Immagini/carrello.png');
	background-repeat: no-repeat;
}

#h1-vendi
{
	background-image: url('../Immagini/vendi.png');
	background-repeat: no-repeat;
}


#form-login
{
	margin-top: 30px;
	margin-left: 50px;

	color: #444444;
}

#table-form td
{
	width: 120px;

	padding-top: 20px;
}

#table-vis
{
    margin-left: 50px;
}

#table-vis td
{
	margin-left: 50px;

	color: #444444;

	width: 150px;

	padding-bottom: 20px;
}


input
{
    	padding: 5px 10px;

	border: 1px solid #BBBBBB;
	border-radius: 5px;
}

input:hover, input:focus
{
	border: 1px solid #101D30;
}


#tasto-login
{
	margin-top: 20px;

	background-color: #101D30;

	color: #BBBBBB;
}



#footer
{
	padding: 10px 0px 10px 0px;

	background: #101D30;

	border-radius: 5px 5px 5px 5px;
}

div#footer p
{
	color: #BBBBBB;

	text-align: center;
	text-shadow: 2px 2px 6px #000000;
}



.current_page
{
	text-decoration: underline;
}






